{% extends "checklist/_base.html" %}

{% load static %}

{% block content %}

      <h1 class="my-4 text-center">Список техники</h1>
        <div class="row ">
            {% for item in vehicle_type_list %}
            <div class="col-md-4 my-3 d-flex justify-content-center flex-column">
                <div>
                    <a href="{% url 'inside_vehicle_type' %}?vehicle_type={{item.id}}"><img src="{{ item.image.url }}" alt="test" class="card-img-top"></a>
                </div>
                <div class="text-center mt-2">
                    <a href="{% url 'inside_vehicle_type' %}?vehicle_type={{item.id}}" class="font-weight-bolder"> {{ item.name }} </a>
                </div>
            </div>

            {% endfor %}
        </div>



{% endblock %}